<div class='row'>
  <div class='col-sm-12 col-md-3'></div>
  <div class='col-sm-12 col-md-6'>
    <div class="card text-center mt-5">
      <div class="card-header">
        <h3>Meet the Team!</h3>
      </div>
      <div class="card-body">

        <!-- Matt's bio-->
        <article class="article">
          <h5>Matthew Crowe</h5>
          <p>
            Matt studied at the University of Kentucky for 2 years prior to returning to Georgia to become a certified
            EMT. Wanting to switch careers, he enrolled in the full-stack development bootcamp.
          </p>
          <p>
            His passions include skiing, wakeboarding and tubing.
          </p>
          <p style="font-size:smaller">Github: <a href="https://www.github.com/mjcr223">mjcr223</a></p>
        </article>
        <br>

        <!-- Eric's bio -->
        <article class="article">
          <h5>Eric Remoroza</h5>
          <p>
            Eric holds a B.S. in Creative Technologies and a minor
            in Business Administration from Berry College. His curiosity and desire to expand his skill set led him to
            full-stack development.
          </p>
          <p>After completing the bootcamp, he hopes to work as a full-stack developer at Delta Air Lines.</p>
          <p>
            Eric's hobbies include traveling, karaoke and volunteering.
          </p>
          <p style="font-size:smaller">Github: <a href="https://www.github.com/ericremoroza">ericremoroza</a></p>
        </article>
        <br>

        <!-- Dalton's bio-->
        <article class="article">
          <h5>Dalton Ricker</h5>
          <p>
            Dalton holds a B.S. in Marine Engineering Systems from the United States Merchant Marine Academy. After
            some time overseas serving as an engineer in the U.S. Naval Reserve, he enrolled in the bootcamp, seeking
            employment on dry land.
          </p>
          <p>
            His hobbies include motorcycling, Rubik's cubes and reading.
          </p>
          <p style="font-size:smaller">Github: <a href="https://www.github.com/SasquatchXYZ">SasquatchXYZ</a></p>
        </article>
        <br>

        <!-- Rodney's bio -->
        <article class="article">
          <h5>Rodney Stephenson</h5>
          <p>
            Rodney holds a B.S. in Financial Management from Clemson University and an MBA from Arizona State
            University. With his prior professional experience and passion for technology, he enrolled in the
            full-stack development bootcamp.
          </p>
          <p>
            Rodney's hobbies include spending time with friends and family, watching sports and working out.
          </p>
          <p style="font-size:smaller">Github: <a href="https://www.github.com/rodneygt2018">RodneyGT2018</a></p>
        </article>
      </div>
    </div>
  </div>
  <div class='col-sm-12 col-md-3'></div>
</div>
