<div class='container'>
  <div class='jumbotron mt-4 text-center'>
    <h1 class='display-4'>About
      <span role="img" aria-label="Face with rolling eyes">🙄</span>
    </h1>
  </div>
  <div class='row mt-5'>
    <div class='col-sm-12 text-center'>
      <a href='/' class='btn btn-outline-danger'><i class="fas fa-long-arrow-alt-left"></i> Back to Home</a>
    </div>
  </div>
</div>