<div class="card text-center mt-5">
  <div class="card-header">
    Welcome to ParkEazy
  </div>
  <div class="card-body">
    <h5 class="card-title">Welcome to ParkEazy</h5>
    <p class="card-text">Please Select How We Can Help You Today:</p>
    <a href="/search" class="btn btn-success btn-lg">Search for a Spot</a>
    <a href="/create" class="btn btn-warning btn-lg">List Your Spot</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>