<header>
  <h2 id="head-title">ParkEazy</h2>
</header>

<section>
  <p>Welcome to Park Eazy</p>
  <p>Search</p>
  <br>
  <input type='test' placeholder='City, State'>
</section>

<footer>
  <p>&copy 2018</p>
</footer>